.navbar{
    display: flex;
    
}
.navbar a, li{
    color: black;
    padding: 0.5vw;
    font-size: 25px;
}
.navbar a:hover{
    text-decoration: underline;
}
.signOut:hover{
    text-decoration: underline;
    
}
.active a{
    text-decoration: underline #F44336;
}