*{
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: none;
    font-family: 'Quicksand', sans-serif;
    background-color: #FFFFFF;
}
input, button{
    border-radius: 0.4rem;
    font-size: 1.2rem;
    background-color: transparent;
    border-color: transparent;
}
button:active{
    transform: translateY(1px);
}
.circle {
    font-family: 'Flow Circular', cursive;
}
.gg-ratio{
    color: #F44336;
}